
Mandatory5/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Mandatory5/Library/SourceAssetDB
Mandatory5/Library/ShaderCache/EditorEncounteredVariants
Mandatory5/Library/SceneVisibilityState.asset
Mandatory5/Library/ArtifactDB
