
Mandatory5/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Mandatory5/Library/SourceAssetDB
Mandatory5/Library/ShaderCache/EditorEncounteredVariants
Mandatory5/Library/SceneVisibilityState.asset
Mandatory5/Library/ArtifactDB
Mandatory5/Library/StateCache/MainStageHierarchy/5f/5f98ffab89f72156e38021b879d3c22f.json
Mandatory5/Library/StateCache/MainStageHierarchy/5f/5f98ffab89f72156e38021b879d3c22f.json
